.title-xxl24-bold {
    font-size: 24px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.48px;
  }
  .title-xl20-bold {
    font-size: 20px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.48px;
  }
  .title-l18-bold {
    font-size: 18px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px;
    letter-spacing: -0.48px;
  }
  .title-m16-semibold {
    font-size: 16px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    line-height: 20.8px;
    letter-spacing: -0.48px;
  }
  .title-m16-medium {
    font-size: 16px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    line-height: 20.8px;
    letter-spacing: -0.48px;
  }
  .title-s14-semibold {
    font-size: 14px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    line-height: 18.2px;
    letter-spacing: -0.48px;
  }
  .title-s14-medium {
    font-size: 14px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    line-height: 18.2px;
    letter-spacing: -0.48px;
  }
  .title-xs12-semibold {
    font-size: 12px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: -0.48px;
  }
  .title-xs12-medium {
    font-size: 12px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    line-height: 15.6px;
    letter-spacing: -0.48px;
  }
  .text-l18-medium {
    font-size: 18px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
  }
  .text-l18-regular {
    font-size: 18px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
  }
  .text-m16-medium {
    font-size: 16px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
  }
  .text-m16-regular {
    font-size: 16px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
  }
  .text-s14-medium {
    font-size: 14px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
  }
  .text-s14-regular {
    font-size: 14px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
  }
  .text-xs12-medium {
    font-size: 12px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
  }
  .text-xs12-regular {
    font-size: 12px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
  }
  .text-xxs10-medium {
    font-size: 10px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
  }
  .text-xxs10-regular {
    font-size: 10px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
  }
  