.App {
  text-align: center;
  height: 100vh;
}

.wrapper {
  width: calc(100% - 150px);
  height: calc(100% - 60px);
  overflow-y: auto;
  position: fixed;
  left: 150px;
  top: 60px;
}

/* span required */
p.required {
  display: inline-block;
  color: #ff3b31;
}
